# flyctl launch added from nextapp\.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
nextapp\node_modules
nextapp\.pnp
nextapp\**\.pnp.js

# testing
nextapp\coverage

# next.js
nextapp\.next
nextapp\out

# production
nextapp\build

# misc
nextapp\**\.DS_Store
nextapp\**\*.pem

# debug
nextapp\**\npm-debug.log*
nextapp\**\yarn-debug.log*
nextapp\**\yarn-error.log*

# local env files
nextapp\**\.env*.local

# vercel
nextapp\**\.vercel

# typescript
nextapp\**\*.tsbuildinfo
nextapp\**\next-env.d.ts
fly.toml
